body {
  width: 100%; }

.navbar {
  box-shadow: 2px 2px 5px white;
  opacity: 0.9;
  background: #fff; }
  .navbar hr {
    color: black;
    width: 100%; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; }

#header {
  min-height: 700px;
  position: relative;
  background-image: url(../img/girl3.jpeg), url(../img/girl1.jpeg), url(../img/girl2.jpeg);
  background-position: center, left, right;
  -webkit-background-size: cover;
  background-size: 33.3% 700px;
  background-repeat: no-repeat; }
  #header .company-name {
    animation-duration: 1.3s; }
  #header .header-text1 {
    animation-duration: 1.7s; }
  #header .header-text2 {
    animation-duration: 2s; }
  #header .arrow-down {
    color: #fff; }
  #header .arrow-down:hover {
    color: #c75791;
    animation: shakeY;
    animation-duration: 3s; }
  #header .arrow-down:visited {
    color: #fff; }
  #header span {
    color: #c75791; }
  #header .black-overlay {
    min-height: 700px;
    background: rgba(0, 0, 0, 0.645);
    top: 0;
    left: 0;
    width: auto; }
  #header h1 {
    font-size: 5rem; }

.transition {
  height: 20px; }

#description {
  position: relative;
  background: url(../img/description_bg.jpg);
  min-height: 640px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #description .gradient-overlay {
    background: rgba(100, 31, 77, 0.747);
    top: 0;
    left: 0;
    width: auto;
    height: 640px; }
  #description .description-text {
    font-size: 2rem; }

#description-continue {
  min-height: 540px; }
  #description-continue span {
    color: #c75791; }

#timer {
  position: relative;
  background: url(https://thumb.tildacdn.com/tild3936-3039-4164-b533-623932343838/-/format/webp/cde06032cbda576c207e.jpg);
  min-height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #timer .black-overlay {
    background: rgba(0, 0, 0, 0.645);
    top: 0;
    left: 0;
    width: auto;
    height: 800px; }
  #timer span {
    color: #c75791; }
  #timer h1 {
    font-size: 3.5rem; }
  #timer p {
    font-size: 1.4rem; }
  #timer .timer1 {
    color: #c75791;
    font-size: 4rem;
    letter-spacing: 6px; }

#faq {
  min-height: 800px; }
  #faq .circle {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    width: 2px;
    height: 80px; }

#reviews {
  min-height: 800px; }
  #reviews .carousel {
    width: 424px;
    height: 754px; }

@media screen and (max-width: 990px) and (min-width: 587px) {
  #header {
    position: relative;
    background-image: url(../img/girl1.jpeg), url(../img/girl2.jpeg);
    background-position: left, right;
    background-size: 50% 700px;
    background-repeat: no-repeat; }
    #header h1 {
      font-size: 4.5rem; } }
@media screen and (max-width: 1200px) and (min-width: 990) {
  #header {
    background-image: url(../img/girl3.jpeg), url(../img/girl1.jpeg), url(../img/girl2.jpeg);
    background-position: center, left, right;
    background-size: 33.3% 1000px;
    background-repeat: no-repeat; }
    #header h1 {
      font-size: 9rem; } }
@media screen and (max-width: 587px) and (min-width: 360px) {
  #header {
    background-image: url(../img/587px.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    #header h1 {
      font-size: 2rem; }

  #timer h1 {
    font-size: 2.5rem; }
  #timer .timer1 {
    font-size: 3rem; }

  #description-continue {
    margin-bottom: 20px; }

  #description hr {
    margin: 5px; }
  #description .description-text {
    font-size: 1.3rem; }

  #faq h2 {
    font-size: 2.5rem; } }
@media screen and (max-width: 786px) and (min-width: 587px) {
  #header h1 {
    font-size: 4rem; } }
@media screen and (max-width: 376px) {
  #timer .timer1 {
    font-size: 2.6rem; }

  #faq h4 {
    font-size: 1rem; }

  #reviews h1 {
    font-size: 3rem; }
  #reviews .carousel {
    width: 282.6px;
    height: 502.6px; } }

/*# sourceMappingURL=style.css.map */
