$gradient-overlay:rgba(100, 31, 77, 0.747);
$black-overlay: rgba(0,0,0,0.645);

$tpink: #c75791;


body {
    width: 100%;
    overflow-x: hidden;

    
}

.navbar {
    box-shadow: 2px 2px 5px white;
    opacity: 0.9;
    background: #fff;

    hr {
        color: black;
        width: 100%;
    }

    .nav-item {
        font-size: 1.4rem;
        padding-right: 1.4rem;
    }
}

#header {
    min-height: 700px;
    position: relative;
    background-image: url(../img/girl3.jpeg), url(../img/girl1.jpeg), url(../img/girl2.jpeg);
    background-position: center, left, right;
    -webkit-background-size: cover;
    background-size: 33.3% 700px;
    background-repeat: no-repeat;

    .company-name {
        animation-duration: 1.3s;
    }
    
    .header-text1 {
        animation-duration: 1.7s;
    }
    .header-text2 {
        animation-duration: 2s;
    }

    .arrow-down {
        color: #fff;
    }

    .arrow-down:hover {
        color: $tpink;
        animation: shakeY;
        animation-duration: 3s;
    }

    .arrow-down:visited {
        color: #fff;
    }

    span {
        color: $tpink;
    }
    
    .black-overlay {
        min-height: 700px;
        background: $black-overlay;
        top: 0;
        left: 0;
        width: auto;
    }
    h1 {
        font-size: 5rem;
    }
    
}


.transition {
    height: 20px;
}
// #home {
//     min-height: 600px;

//     .row {
//         margin: 0;
//     }

//     .imag {
//         width: 100%;
//     }
// }


// #description {
//     position: relative;
//     background-color: black;
//     height: calc(100vh - 72px);
//     min-height: 25rem;
//     width: 100%;
//     overflow: hidden;
//     // background-position: center;
//     // background-repeat: no-repeat;
//     // background-size: cover;
//     video {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         min-width: 100%;
//         min-height: 100%;
//         width: auto;
//         height: auto;
//         z-index: 1;
//         -ms-transform: translateX(-50%) translateY(-50%);
//         -moz-transform: translateX(-50%) translateY(-50%);
//         -webkit-transform: translateX(-50%) translateY(-50%);
//         transform: translateX(-50%) translateY(-50%);
//     }


//     .container {
//         position: relative;
//         z-index: 2;
//     }


//     .gradient-overlay {
//         position: absolute;
//         top: 0;
//         left: 0;
//         height: 100%;
//         width: 100%;
//         background-color: black;
//         opacity: 0.5;
//         z-index: 1;
//         object-fit: cover;
//       }

    

//     .description-text {
//         font-size: 2rem;
//     }
// }
.video-background-holder {
    position: relative;
    background-color: black;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  .video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .video-background-content {
    position: relative;
    z-index: 2;
  }
  
  .video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }



#description-continue {
    min-height: 800px;
    position: relative;

    p{
        text-indent: 1rem;
        font-size: large;
    }


    // background-image: url(../img/Web-Background.png);
    // background-position: center;
    // -webkit-background-size: cover;
    // background-size: 100% auto;
    // background-repeat: no-repeat;
    span {
        color: $tpink;
    }


    .block1 {
        margin-left: 10%;
    }

    img {
        height: 400px;
        width: auto;
    }
}

#timer {
    position: relative;
    background: url(https://thumb.tildacdn.com/tild3936-3039-4164-b533-623932343838/-/format/webp/cde06032cbda576c207e.jpg);
    min-height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .black-overlay {
        background: $black-overlay;
        top: 0;
        left: 0;
        width: auto;
        height: 800px;
    }

    span {
        color: $tpink;
    }

    h1 {
        font-size: 3.5rem;
    }

    p {
        font-size: 1.4rem;
    }

    .timer1 {
        color: $tpink;
        font-size: 4rem;
        letter-spacing: 6px;
    }
    
}

#faq {
    min-height: 800px;
    .circle {
        background-color: #000;
        border: 1px solid #000;
        border-radius: 50%;
        width: 2px;
        height: 80px;
    }
}


#reviews {
    min-height: 800px;

    .carousel {
        width: 424px;
        height: 754px;
    }
}

  



@media screen and (max-width: 990px) and (min-width: 587px) {
    #header {
        position: relative;
        background-image: url(../img/girl1.jpeg), url(../img/girl2.jpeg);
        background-position: left, right;
        background-size: 50% 700px;
        background-repeat: no-repeat;

        h1 {
            font-size: 4.5rem;
        }
        
    }
}

@media screen and (max-width: 1200px) and (min-width: 990) {
    #header {
        
        background-image: url(../img/girl3.jpeg), url(../img/girl1.jpeg), url(../img/girl2.jpeg);
        background-position: center, left, right;
        background-size: 33.3% 1000px;
        background-repeat: no-repeat;
        
        h1 {
            font-size: 9rem;
        }
    }
}

@media screen and (max-width: 587px) and (min-width: 360px) {
    #header {
        background-image: url(../img/587px.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        h1 {
            font-size: 2rem;
        }
        
    }

    #timer {
        h1 {
            font-size: 2.5rem;
        }

        .timer1 {
            font-size: 3rem;
        }
    }

    #description-continue {
        margin-bottom: 20px;
    }

    #description {
        hr {
            margin: 5px;
        }
        .description-text {
            font-size: 1.3rem;
        }
    }

    #faq {
        h2 {
            font-size: 2.5rem;
        }
    }
    
}

@media screen and (max-width: 786px) and (min-width: 587px) {
    #header {
        h1 {
            font-size: 4rem;
        }
    }
}

// Для бомжацких телефонов
@media screen and (max-width: 376px) {
    #timer {
        .timer1 {
            font-size: 2.6rem;
        }
    }

    #faq {
        h4 {
            font-size: 1rem;
        }
    }
    #reviews {
        h1 {
            font-size: 3rem;
        }
        .carousel {
            width: 282.6px;
            height: 502.6px;
        }
    }

}

@media (pointer: coarse) and (hover: none) {
    #description {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;

      video {
        display: none;
      }
    }
  }